.main {
  width: 100%;
  height: 100%;
}

#home {
  width: 100%;
  height: 100vh;
  background-image: url(/bilder/home-pic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.home__content {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: 0 30px;
  flex-grow: 0;
}

.home__headline {
  text-align: right;
  //   padding-top: 200px;
  background-color: rgba(128, 128, 128, 0.6);
  animation: slide 1s forwards 0.2s;
}
.headline__main-title {
  color: rgb(255, 255, 255);
  font-size: 4em;
  font-weight: 600;
  font-family: "Raleway", sans-serif;

  padding: 20px 40px;
}
.headline__under-title {
  color: white;
  font-size: 2.5em;
  font-weight: 500;
  background-color: #b01a1aab;
  padding: 10px 30px;
  margin-bottom: 0;
  display: inline-block;
  border-top-left-radius: 1rem;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100px);
  }
}

.home__text {
  width: 500px;
  margin: 0px 30px;
  color: white;
  animation: growing 1s forwards 1s;
  opacity: 0;
  padding-top: 50px;
  font-weight: 500;
}

@keyframes growing {
  from {
    transform: scale(1.3) translateX(-100px);
  }
  to {
    opacity: 1;
    transform: scale(1.5) translateX(-100px);
  }
}

.buttons {
  width: 100%;
  text-align: center;
  top: 80px;
  position: relative;
  a {
    text-decoration: none;
  }
}

.buttons button {
  padding: 8px 50px;
  border: 2px solid #b01a1b;
  border-radius: 16px;
  background-color: #b01a1b;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.buttons button:hover {
  background-color: white;
  color: #b01a1b;
}

.buttons i {
  display: block;
  color: white;
  font-size: 2rem;
  margin-top: 20px;
  animation: slideY 1s forwards linear;
  animation-iteration-count: infinite;
}

@keyframes slideY {
  from {
    transform: translateY(-10);
  }
  to {
    transform: translateY(10px);
  }
}

@media (max-width: 1200px) {
  .home__headline {
    width: 550px;
  }
}

@media (max-width: 860px) {
  .home__text {
    width: 350px;
  }
}

@media (max-width: 720px) {
  #home {
    align-items: flex-start;
  }
  .home__content {
    align-items: flex-start;
    justify-content: flex-end;
  }
  .home__headline {
    width: 80%;
    text-align: left;
    font-size: 9px;
    padding: unset;
  }

  .headline__main-title {
    padding: 10px 15px;
  }
  .headline__under-title {
    padding: 10px 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 1rem;
  }
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(50px);
    }
  }
  .home__text {
    width: 200px;
    font-weight: 400;
    font-size: 14px;
  }
  @keyframes growing {
    from {
      transform: translateX(70px) scale(1.3);
    }
    to {
      opacity: 1;
      transform: translateX(70px) scale(1.5);
    }
  }
}

@media (max-width: 420px) {
  .home__headline {
    width: 260px;
    font-size: 8px;
  }
  @keyframes slide {
    from {
      transform: translateX(-10);
    }
    to {
      transform: translateX(30px);
    }
  }
  .home__text {
    width: 160px;
    font-size: 10px;
  }
  @keyframes growing {
    from {
      transform: translateX(50px) scale(1.3);
    }
    to {
      opacity: 1;
      transform: translateX(50px) scale(1.5);
    }
  }
  .buttons {
    top: 70px;
  }
  .buttons button {
    padding: 8px 30px;
    font-weight: 500;
    font-size: 14px;
  }
  @keyframes slideY {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(0px);
    }
  }
}
