.aboutView {
  width: 80%;
  //   min-height: 100vh;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  //   flex-wrap: wrap;
}

.aboutView__content {
  width: 70%;
  padding-right: 2rem;
  margin-left: 4rem;
  .aboutView__content-text {
    width: 100%;
    padding: 2rem 0;

    div {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 1530px) {
  .aboutView {
    width: 85%;

    .aboutView__content {
      margin-left: 3rem;
    }
  }
}

@media (max-width: 1230px) {
  .aboutView {
    width: 93%;

    .aboutView__content {
      margin-left: 2rem;
    }
  }
}

@media (max-width: 1020px) {
  .aboutView {
    flex-direction: column;

    .aboutView__content {
      width: 85%;
      margin: 0 auto;
      padding-right: 0;
    }
  }
}
