.up_btn {
  font-size: 2rem;
  font-weight: 700;
  background-color: #b01a1b;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  &:hover {
    color: white;
    background-color: #941818;
  }
}

@media (max-width: 1230px) {
  .up_btn {
    font-size: 1.7rem;
  }
}

@media (max-width: 1020px) {
  .up_btn {
    font-size: 1.4rem;
    padding: 0.4rem 0.8rem;
  }
}

@media (max-width: 720px) {
  .up_btn {
    font-size: 1rem;
    padding: 0.3rem 0.7rem;
    border-radius: 0.6rem;
    bottom: 2rem;
    right: 2rem;
  }
}

@media (max-width: 420px) {
  .up_btn {
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.6rem;
    bottom: 1.7rem;
    right: 1.7rem;
  }
}
